ONEC_BASE_URL= #http://localhost/<base>/hs
ONEC_USER= 
ONEC_PASS= 

METER_BASE_API= #http://localhost:8222
METER_USER=
METER_PASS=

TIMESHEET_URL= #mssql+pyodbc://<user>:<password>@<server>/<table>?driver=ODBC+Driver+17+for+SQL+Server

ENERGY_DEVICE_ID_1= 
ENERGY_DEVICE_ID_2=