# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.venv/

# Environment variables
.env

# FastAPI / Uvicorn
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
htmlcov/
.coverage
.coverage.*

# Build
build/
dist/
*.egg-info/

# SQLite
*.sqlite3
*.db

# Alembic
alembic/versions/*.pyc

# Static / media
media/
staticfiles/


# Docker
*.pid

# Logs
logs/
*.log

# Temporary files
*.tmp
*.temp

go2rtc.yaml